.player.eg {
  text-align: center;
}

.player.eg img,
.player.eg canvas {
  max-width: 98% !important;
  margin: 0 auto;
}

.view,
.view-overflow {
  height: 100vh;
  background-color: #252525;
}

.view .header,
.view-overflow .header {
  width: calc(100% - 2vw);
  margin-left: 1vw;
  padding: 0.5vw 0;
  height: 4vw;
}

.view .header .h_left,
.view .header .h_center,
.view .header .h_right,
.view-overflow .header .h_left,
.view-overflow .header .h_center,
.view-overflow .header .h_right {
  height: 100%;
  position: relative;
  /* text {
      font-weight: 300;
  } */
}

.view .header .h_left,
.view-overflow .header .h_left {
  width: 20%;
  float: left;
}

.view .header .h_center,
.view-overflow .header .h_center {
  width: 60%;
  float: left;
}

.view .header .h_right,
.view-overflow .header .h_right {
  width: 20%;
  float: right;
}

.view .mask,
.view-overflow .mask {
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  opacity: 0;
  -webkit-transition: all ease 1s;
  z-index: -1;
}

.view .mask.active,
.view-overflow .mask.active {
  opacity: 1;
  -webkit-transition: all ease 1s;
  z-index: 800;
}

.view .view-tm-bracket,
.view .view-tm,
.view .view-lg,
.view-overflow .view-tm-bracket,
.view-overflow .view-tm,
.view-overflow .view-lg {
  max-width: 1920px;
  height: 56.25vw;
  background-image: url(/images/obs_bg.png?4fa6b4d26a373f0c1c5cc9dc2e533090);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: 700;
  position: relative;
}

.view .view-tm-bracket .bracket,
.view .view-tm .bracket,
.view .view-lg .bracket,
.view-overflow .view-tm-bracket .bracket,
.view-overflow .view-tm .bracket,
.view-overflow .view-lg .bracket {
  opacity: 0;
  width: 98vw;
  height: 49.25vw;
  padding: 0 1vw;
  margin-top: 2vw;
  -webkit-transition: all ease 1s;
  cursor: pointer;
  position: absolute;
}

.view .view-tm-bracket .bracket.active,
.view .view-tm .bracket.active,
.view .view-lg .bracket.active,
.view-overflow .view-tm-bracket .bracket.active,
.view-overflow .view-tm .bracket.active,
.view-overflow .view-lg .bracket.active {
  opacity: 1;
  -webkit-transition: all ease 1s;
  z-index: 700;
}

.view .view-tm-bracket .bracket .title rect,
.view .view-tm .bracket .title rect,
.view .view-lg .bracket .title rect,
.view-overflow .view-tm-bracket .bracket .title rect,
.view-overflow .view-tm .bracket .title rect,
.view-overflow .view-lg .bracket .title rect {
  fill: #121416;
}

.view .view-tm-bracket .bracket .title text,
.view .view-tm .bracket .title text,
.view .view-lg .bracket .title text,
.view-overflow .view-tm-bracket .bracket .title text,
.view-overflow .view-tm .bracket .title text,
.view-overflow .view-lg .bracket .title text {
  fill: #6b6b6c;
  font-size: 42px;
}

.view .view-tm-bracket .bracket .player rect,
.view .view-tm .bracket .player rect,
.view .view-lg .bracket .player rect,
.view-overflow .view-tm-bracket .bracket .player rect,
.view-overflow .view-tm .bracket .player rect,
.view-overflow .view-lg .bracket .player rect {
  fill: rgba(0, 0, 0, 0.6);
}

.view .view-tm-bracket .bracket .player path,
.view .view-tm .bracket .player path,
.view .view-lg .bracket .player path,
.view-overflow .view-tm-bracket .bracket .player path,
.view-overflow .view-tm .bracket .player path,
.view-overflow .view-lg .bracket .player path {
  stroke: #fff;
  stroke-opacity: 0.3;
}

.view .view-tm-bracket .bracket .player .trace,
.view .view-tm .bracket .player .trace,
.view .view-lg .bracket .player .trace,
.view-overflow .view-tm-bracket .bracket .player .trace,
.view-overflow .view-tm .bracket .player .trace,
.view-overflow .view-lg .bracket .player .trace {
  fill: #fff;
  font-size: 36px;
}

.view .view-tm-bracket .bracket .player .info,
.view .view-tm .bracket .player .info,
.view .view-lg .bracket .player .info,
.view-overflow .view-tm-bracket .bracket .player .info,
.view-overflow .view-tm .bracket .player .info,
.view-overflow .view-lg .bracket .player .info {
  font-weight: 500;
  fill: #fff;
  font-size: 18px;
}

.view .view-tm-bracket .bracket .line path,
.view .view-tm .bracket .line path,
.view .view-lg .bracket .line path,
.view-overflow .view-tm-bracket .bracket .line path,
.view-overflow .view-tm .bracket .line path,
.view-overflow .view-lg .bracket .line path {
  stroke: #fff;
}

.view .view-tm-bracket .video-area,
.view .view-tm .video-area,
.view .view-lg .video-area,
.view-overflow .view-tm-bracket .video-area,
.view-overflow .view-tm .video-area,
.view-overflow .view-lg .video-area {
  opacity: 0;
  width: calc(100% - 2vw);
  height: 41.25vw;
  margin: 0 1vw;
  overflow: hidden;
  -webkit-transition: all ease 1s;
  position: absolute;
  box-sizing: border-box;
  border: 4px solid #aaa;
}

.view .view-tm-bracket .video-area.active,
.view .view-tm .video-area.active,
.view .view-lg .video-area.active,
.view-overflow .view-tm-bracket .video-area.active,
.view-overflow .view-tm .video-area.active,
.view-overflow .view-lg .video-area.active {
  opacity: 1;
  -webkit-transition: all ease 0.5s;
}

.view .view-tm-bracket .video-area.active.game.home,
.view .view-tm .video-area.active.game.home,
.view .view-lg .video-area.active.game.home,
.view-overflow .view-tm-bracket .video-area.active.game.home,
.view-overflow .view-tm .video-area.active.game.home,
.view-overflow .view-lg .video-area.active.game.home {
  border: 4px solid #f04e4e;
}

.view .view-tm-bracket .video-area.active.game.away,
.view .view-tm .video-area.active.game.away,
.view .view-lg .video-area.active.game.away,
.view-overflow .view-tm-bracket .video-area.active.game.away,
.view-overflow .view-tm .video-area.active.game.away,
.view-overflow .view-lg .video-area.active.game.away {
  border: 4px solid #58ade6;
}

.view .view-tm-bracket .video-area .video-2,
.view .view-tm-bracket .video-area .video-4,
.view .view-tm .video-area .video-2,
.view .view-tm .video-area .video-4,
.view .view-lg .video-area .video-2,
.view .view-lg .video-area .video-4,
.view-overflow .view-tm-bracket .video-area .video-2,
.view-overflow .view-tm-bracket .video-area .video-4,
.view-overflow .view-tm .video-area .video-2,
.view-overflow .view-tm .video-area .video-4,
.view-overflow .view-lg .video-area .video-2,
.view-overflow .view-lg .video-area .video-4 {
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.view .view-tm-bracket .video-area .video-4,
.view .view-tm .video-area .video-4,
.view .view-lg .video-area .video-4,
.view-overflow .view-tm-bracket .video-area .video-4,
.view-overflow .view-tm .video-area .video-4,
.view-overflow .view-lg .video-area .video-4 {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.view .view-tm-bracket .video-area .video-1,
.view .view-tm .video-area .video-1,
.view .view-lg .video-area .video-1,
.view-overflow .view-tm-bracket .video-area .video-1,
.view-overflow .view-tm .video-area .video-1,
.view-overflow .view-lg .video-area .video-1 {
  position: absolute;
  width: 26vw;
  height: 14.625vw;
  bottom: 0;
  right: 0;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all ease 0.3s;
  z-index: 1500;
}

.view .view-tm-bracket .video-area .video-1.active,
.view .view-tm .video-area .video-1.active,
.view .view-lg .video-area .video-1.active,
.view-overflow .view-tm-bracket .video-area .video-1.active,
.view-overflow .view-tm .video-area .video-1.active,
.view-overflow .view-lg .video-area .video-1.active {
  width: 64vw;
  height: 36vw;
  -webkit-transition: all ease 0.3s;
  right: 16vw;
}

.view .view-tm-bracket .video-area canvas,
.view .view-tm .video-area canvas,
.view .view-lg .video-area canvas,
.view-overflow .view-tm-bracket .video-area canvas,
.view-overflow .view-tm .video-area canvas,
.view-overflow .view-lg .video-area canvas {
  position: absolute;
  height: 100%;
}

.view .view-tm-bracket .video-area .video-2 canvas,
.view .view-tm .video-area .video-2 canvas,
.view .view-lg .video-area .video-2 canvas,
.view-overflow .view-tm-bracket .video-area .video-2 canvas,
.view-overflow .view-tm .video-area .video-2 canvas,
.view-overflow .view-lg .video-area .video-2 canvas {
  left: -5%;
}

.view .view-tm-bracket .video-area .adr-name,
.view .view-tm .video-area .adr-name,
.view .view-lg .video-area .adr-name,
.view-overflow .view-tm-bracket .video-area .adr-name,
.view-overflow .view-tm .video-area .adr-name,
.view-overflow .view-lg .video-area .adr-name {
  position: absolute;
  width: 50%;
  height: 10%;
  bottom: 0;
  z-index: 1000;
  left: 25%;
}

.view .footer,
.view-overflow .footer {
  width: calc(100% - 26vw);
  margin-left: 1vw;
  padding: 0.5vw 12vw;
  height: 9vw;
  position: absolute;
  bottom: 0;
  z-index: 600;
}

.view .footer .f_left,
.view .footer .f_center,
.view .footer .f_right,
.view-overflow .footer .f_left,
.view-overflow .footer .f_center,
.view-overflow .footer .f_right {
  height: 100%;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  padding-top: 0.35rem;
}

.view .footer .f_left,
.view-overflow .footer .f_left {
  width: 40%;
  float: left;
}

.view .footer .f_center,
.view-overflow .footer .f_center {
  width: 20%;
  float: left;
}

.view .footer .f_right,
.view-overflow .footer .f_right {
  width: 40%;
  float: right;
}

.view .footer .f_left,
.view .footer .f_right,
.view-overflow .footer .f_left,
.view-overflow .footer .f_right {
  /* border: 2px solid #666; */
  /* &.active {
      border-color: #fff;
  } */
}

.view .footer .f_left.active .b,
.view .footer .f_left.active .c,
.view-overflow .footer .f_left.active .b,
.view-overflow .footer .f_left.active .c {
  fill: #f04e4e;
}

.view .footer .f_left.active .a,
.view-overflow .footer .f_left.active .a {
  stroke: #f04e4e;
}

.view .footer .f_right.active .b,
.view .footer .f_right.active .c,
.view-overflow .footer .f_right.active .b,
.view-overflow .footer .f_right.active .c {
  fill: #58ade6;
}

.view .footer .f_right.active .a,
.view-overflow .footer .f_right.active .a {
  stroke: #58ade6;
}

.view .footer .a,
.view-overflow .footer .a {
  fill: none;
  stroke: #aaa;
  stroke-miterlimit: 10;
  stroke-width: 1.5px;
}

.view .footer .b,
.view-overflow .footer .b {
  fill: #aaa;
}

.view .footer .c,
.view-overflow .footer .c {
  fill: #aaa;
}

.view .footer .d,
.view-overflow .footer .d {
  fill: #333;
}

.view-overflow {
  overflow: auto;
}

.view-overflow::-webkit-scrollbar {
  display: none;
}

